:deep(.el-dialog) {
    --el-dialog-padding-primary: 0px;
    border-radius: 4px;
}

:deep(.el-dialog__header) {
    background: #409eff;
    color: #fff;
    padding: 12px;
    border-radius: 4px 4px 0 0;
}

:deep(.el-dialog__header span) {
    color: #fff;
    font-size: 16px;
}

:deep(.el-dialog__body > .content) {
    padding: 16px 30px 16px 16px;
}

:deep(.el-dialog__footer) {
    padding: 12px;
    border-top: 1px solid #e5e5e5;
}

// 关闭按钮
:deep(.el-dialog__headerbtn .el-dialog__close) {
    color: #fff;
}

:deep(.el-dialog__headerbtn:hover .el-dialog__close) {
    color: #fff;
}